body {
   font-size: 24px;
   background-color: skyblue;
}

.text {
   text-align: center;
   color: whitesmoke;
}

.errorText {
   text-align: center;
   color: red;
   font-size: 12px;
}

.cold {
   background-color: #95A5A6;
}

.chilly {
   background-color: #1ABC9C;
}

.nice {
   background-color: #2980B9;
}

.warm {
   background-color: #E67E22;
}

.hot {
   background-color: #E74C3C;
}

#clock {
   font-weight: bold;
   font-size: 100px;
}

#signinContainer {
   text-align: center;
   padding:10px;
}